.container {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 36rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.font-bold {
    font-weight: bold;
}

.text-gray-600 {
    color: #718096;
}

.text-link-blue {
    color: #2997FF;
}

.text-link-blue:hover {
    opacity: 0.7;
}

.list-decimal {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.space-y-2 > * + * {
    margin-top: 0.5rem;
}
