.container {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 36rem;
    flex-grow: 1;
    outline: none;
}

.p-6 {
    padding: 1.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.font-bold {
    font-weight: bold;
}

.mt-8 {
    margin-top: 2rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.list-decimal {
    list-style-type: decimal;
}

.list-inside {
    padding-left: 1.5rem;
}

.space-y-2 > * + * {
    margin-top: 0.5rem;
}

.text-right {
    text-align: right;
}
